node_modules/
.env
.env.local
.env.*.local

dist/
build/
.next/
out/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
*.pem

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal

# Temporary folders
.temp/
.tmp/
